# Enable platform-specific configurations
build --enable_platform_specific_config

build:opt --copt=-O3
build:opt --copt=-march=native
build:opt --copt=-ffast-math

build --cxxopt="-std=c++23"
build --cxxopt="-Xclang=-fno-cxx-modules"
